*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#nav-body{
    position: sticky;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

#nav-body h3{
    margin-top: 1em;
    font-weight: bold;
    position: fixed;
}

ul{
    display: flex;
    justify-content: space-between;
}

.item{
    margin: 2em;
    list-style: none;
    color: black;
    padding-left: 2px;
    padding-right: 3px;
}


.nav-link{
    color: white;
    font-weight: 700;
    text-decoration: none;
    border-radius: 10px;
}

.nav-link:hover{
    border: 1px solid white;
    background-color: white;
    color: black;
    transition: 0.5s;
}







.plalists-h{
    border-top: 2px solid white;
    text-align: center;
    font-weight: bold;
    padding: 70px;
}

.plalists-img1{
    width: 100%;
}

.plalists-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

.first{
    width: 23%;
    border: 2px solid white;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

.first:hover{
    background-color: #a19999;
    transition: 0.5s;
}

#first-heading{
    text-align: center;
    color: white;
    margin-top: 16px;
    font-weight: 600;
}

.plalists-link:hover{
    text-decoration: none;
}


.plalists{
    margin: 10px;
}

#imgs{
    height: 250px;
}

.plalists-h2{
    text-align: center;
    font-weight: bold;
    margin: 80px 0px;
}




footer{
    border-top: 2px solid white;
}

footer div{
    padding: 25px 0px;
}

#i{
    margin-top: 70px;
}
footer ul li{
    list-style: none;
}

footer ul a{
    text-decoration: none;
    color: white;
}

footer ul i:hover{
    text-decoration: none;
    color: black;
    background-color: white;
    transition: 0.5s;
}

